<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simulação robô digital</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'style.css')}}">
</head>

<body>
    <form method="post" action="/coords">
        <div class="main-content">
            <div class="main-left">
                <div class="coord-group">
                    <label for="x">X</label>
                    <input type="text" id="x" name="x" value="">
                </div>
                <div class="coord-group">
                    <label for="y">Y</label>
                    <input type="text" id="y" name="y" value="">
                </div>
                <div class="coord-group">
                    <label for="z">Z</label>
                    <input type="text" id="z" name="z" value="">
                </div>
                <div class="coord-group">
                    <label for="r">R</label>
                    <input type="text" id="r" name="r" value="">
                </div>
            </div>
            <div>
                <div class="coord-group">
                    <label for="x-current">X</label>
                    <p id="x-current">{{coordenate[(coordenate|length-1)].x}}</p>
                </div>
                <div class="coord-group">
                    <label for="y-current">Y</label>
                    <p id="y-current">{{coordenate[(coordenate|length-1)].y}}</p>
                </div>
                <div class="coord-group">
                    <label for="z-current">Z</label>
                    <p id="z-current">{{coordenate[(coordenate|length-1)].z}}</p>
                </div>
                <div class="coord-group">
                    <label for="r-current">R</label>
                    <p id="r-current">{{coordenate[(coordenate|length-1)].r}}</p>
                </div>
            </div>
            <button type="submit">Enviar</button>
        </div>
    </form>
</body>
</html>